@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("@near-wallet-selector/modal-ui/styles.css");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: url('/images/background.png') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

@layer utilities {
  .text-default {
    color: #000000;
  }
  
  .text-primary {
    color: #000000;
  }
  
  .text-secondary {
    color: #4B5563;
  }

  .text-heading {
    color: #000000;
    font-weight: 600;
  }
   
  .text-balance {
    text-wrap: balance;
  }
  .bg-opacity-30 {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .backdrop-custom {
    backdrop-filter: blur(5px);
  }
  .transition-colors {
    transition: color 0.3s ease;
  }
  .hover\:bg-blue-700:hover {
    background-color: #1d4ed8;
  }
  .hover\:text-white:hover {
    color: #ffffff;
  }
  .text-blue-100 {
    color: #dbeafe;
  }
  .text-black {
    color: #000;
  }
  .bg-transparent-grey {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .rounded-lg {
    border-radius: 0.5rem;
  }
  .overflow-hidden {
    overflow: hidden;
  }
}
